<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>AMPATH - SPOT </title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="#">
<meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="#">

<link rel="icon" th:href="@{/themes/assets/images/ampath_favion.png}" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/themes/bower_components/bootstrap/dist/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css" th:href="@{/themes/assets/icon/themify-icons/themify-icons.css}">

<link rel="stylesheet" type="text/css" th:href="@{/themes/assets/icon/icofont/css/icofont.css}">

<link rel="stylesheet" type="text/css" th:href="@{/themes/assets/pages/flag-icon/flag-icon.min.css}">

<link rel="stylesheet" type="text/css" th:href="@{/themes/assets/pages/menu-search/css/component.css}">

<!-- <link rel="stylesheet" th:href="@{/themes/assets/pages/multi-step-sign-up/css/reset.min.css}"> -->
<link rel="stylesheet" th:href="@{/themes/assets/pages/multi-step-sign-up/css/style.css}">

<link rel="stylesheet" type="text/css" th:href="@{/themes/assets/css/style.css}">
<style>
    .info, .success, .warning, .error, .validation {
			border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
		}
		.info {
			color: #00529B;
			background-color: #BDE5F8;
			background-image: url('https://i.imgur.com/ilgqWuX.png');
		}
		.success {
			color: #4F8A10;
			background-color: #DFF2BF;
			background-image: url('https://i.imgur.com/Q9BGTuy.png');
		}
		.warning {
			color: #9F6000;
			background-color: #FEEFB3;
			background-image: url('https://i.imgur.com/Z8q7ww7.png');
		}
		.error{
			color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
		}
		.validation{
			color: #D63301;
			background-color: #FFCCBA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
		}
</style>
</head>
<body class="multi-step-sign-up">

<section class="login-block">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
<form th:action="@{/auth/logins}" method="POST"  class="md-float-material form-material" >
   <!-- <div class="text-center">
            <img th:src="@{/themes/assets/images/logo.png}" alt="logo.png" height="150" width="150">
    </div> -->
    <div class="auth-box card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">AMPATH SPOT</h3>
                    <h6 class="text-center">Single Point Of Truth</h6>
                </div>
            </div>
            <div class="form-group form-primary">
                <input type="text" name="email" class="form-control" required placeholder="Your Email Address">
                <span class="form-bar"></span>
            </div>
            <div class="form-group form-primary">
                <input type="password" name="password" class="form-control" required placeholder="Password">
                <span class="form-bar"></span>
            </div>
            <div class="error" th:if="${param.error}"> Username or password is incorrect</div>
            <div class="row m-t-25 text-left">
                <div class="col-12">
                    <div class="checkbox-fade fade-in-primary d-">
                        <label>
                            <input type="checkbox" value>
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">Remember me</span>
                        </label>
                    </div>
                    <div class="forgot-phone text-right f-right">
                        <a th:href="@{/auth/reset-password}" class="text-right f-w-600"> Forgot
                            Password?</a>
                    </div>
                </div>
            </div>
            <div class="row m-t-30">
                <button type="submit" class="btn bg-olive btn-block">Sign me in</button>

                <div class="col-md-12">

                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign
                        in</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                    <p class="text-inverse text-left"><a th:href="@{/}"><b class="f-w-600">Back
                        to Dashboard</b></a></p>
                </div>

            </div>
        </div>
    </div>
</form>
        </div>
    </div>
</div>
</section>
<script type="text/javascript" th:src="@{/themes/bower_components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/themes/bower_components/jquery-slimscroll/jquery.slimscroll.js}"></script>

<script type="text/javascript" th:src="@{/themes/bower_components/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/modernizr/feature-detects/css-scrollbars.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script th:src="@{/themes/assets/pages/multi-step-sign-up/js/main.js}"></script>

<script type="text/javascript" th:src="@{/themes/bower_components/i18next/i18next.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/bower_components/jquery-i18next/jquery-i18next.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/assets/js/common-pages.js}"></script>
</body>
</html>