<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
  <title>AMPATH - SPOT</title>

  <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/themes/assets/img/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/themes/assets/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/themes/assets/img/favicons/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/themes/assets/img/favicons/favicon.ico}">
    <link rel="manifest" th:href="@{/themes/assets/img/favicons/manifest.json}">
    <meta name="msapplication-TileImage" content="/themes/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script th:src="@{/themes/vendors/imagesloaded/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/themes/vendors/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/themes/assets/js/config.js}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link th:href="@{/themes/vendors/simplebar/simplebar.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link th:href="@{/themes/assets/css/theme-rtl.min.css}" type="text/css" rel="stylesheet" id="style-rtl">
    <link th:href="@{/themes/assets/css/theme.min.css}" type="text/css" rel="stylesheet" id="style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container-fluid bg-300 dark__bg-1200">
        <div class="bg-holder bg-auth-card-overlay" style="background-image:url(../../../assets/img/bg/37.png);"></div>
        <!--/.bg-holder-->
        <div class="row flex-center position-relative min-vh-100 g-0 py-5">
          <div class="col-11 col-sm-10 col-xl-8">
            <div class="card border border-200 auth-card">
              <div class="card-body pe-md-0">
                <div class="row align-items-center gx-0 gy-7">
                 <!-- <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                    <div class="bg-holder" style="background-image:url(/themes/assets/img/bg/38.png);"></div>

                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7">
                      <h3 class="mb-3 text-black fs-1">Phoenix Authentication</h3>
                      <p class="text-700">Give yourself some hassle-free development process with the uniqueness of Phoenix!</p>
                      <ul class="list-unstyled mb-0 w-max-content w-md-auto mx-auto">
                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Fast</span></li>
                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Simple</span></li>
                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Responsive</span></li>
                      </ul>
                    </div>
                    <div class="position-relative z-index--1 mb-6 d-none d-md-block text-center mt-md-5">
                      <img class="auth-title-box-img d-dark-none" th:src="@{/themes/assets/img/spot-illustrations/auth.png}" alt="" />
                      <img class="auth-title-box-img d-light-none" src="../../../assets/img/spot-illustrations/auth-dark.png" alt="" /></div>
                  </div> -->
                  <div class="col mx-auto">
                  
                        <input type="hidden" id="checkid" name="checkid" th:value="${msg}">
                        <div id="divsc" class="alert alert-outline-success d-flex align-items-center" role="alert"  style="display: none !important">
                            <span class="fas fa-check-circle text-success fs-3 me-3"></span>
                            <p class="mb-0 flex-1">Dear <span th:utext="${username}"></span> ,You have changed your password successfully, We have sent you a confirmation email to <span th:utext="${email}"></span>. <a th:href="@{/spot/dashboard}">Click here to go back to Dashboad</a>  </p>
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                       
                          <div class="auth-form-box">
                            <div class="text-center">
                        <a class="d-flex flex-center text-decoration-none mb-4" th:href="@{/}">
                          <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                            <img th:src="@{/themes/assets/img/icons/logo.png}" alt="phoenix" width="58" /></div>
                        </a>
                        <h4 class="text-1000">Set new password</h4>
                        <p class="text-700">Type your new password</p>
                        <div class="alert alert-soft-danger" id="fadiv" style="display: none;" >Passwords didn't Matched</div>
                        <div class="alert alert-soft-success" id="sucdiv" style="display: none;"> Passwords Matched Correctly</div>
      
                        <form class="mt-5" th:action="@{/system/users/changepassword/}" th:object="${user}" method="POST">
                          <input class="form-control mb-2" id="password" type="password" th:field="*{password}"  placeholder="Type new password" onchange="validate()" required  /><i class="bi bi-eye-slash" id="togglePassword"></i>
                          <input class="form-control mb-4" id="confirmPassword" type="password" placeholder="Confirm new password"  onkeyup="validate()" required /><i class="bi bi-eye-slash" id="togglePassword"></i>
                          <button class="btn btn-primary w-100" type="submit" id="cmdsubmit" disabled>
                              Set Password
                          </button>
                      </form>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <script>
        $( document ).ready(function() {
            var checker = document.getElementById("checkid").value;
           // alert(checker);
            if(checker==0){
    
            }else{
            document.getElementById("divsc").style.display = "block";
            }
    });
    </script>
    <script>
        function validate(){
            var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirmPassword");
            if(password.value != confirm_password.value) {
                document.getElementById("cmdsubmit").disabled=true;
                confirm_password.setCustomValidity("Passwords Don't Match");
                document.getElementById("fadiv").style.display = "block";
                document.getElementById("suciv").style.display = "none";
                document.getElementById("divsc").style.display = "none";
            
                
            } else {
                confirm_password.setCustomValidity('');
                document.getElementById("cmdsubmit").disabled=false;
                document.getElementById("fadiv").style.display = "none";
                document.getElementById("suciv").style.display = "block";
                document.getElementById("divsc").style.display = "none";
                
            }
        }
    </script>

    <script th:src="@{/themes/vendors/popper/popper.min.js}"></script>
    <script th:src="@{/themes/vendors/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/themes/vendors/anchorjs/anchor.min.js}"></script>
    <script th:src="@{/themes/vendors/is/is.min.js}"></script>
    <script th:src="@{/themes/vendors/fontawesome/all.min.js}"></script>
    <script th:src="@{/themes/vendors/lodash/lodash.min.js}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script th:src="@{/themes/vendors/list.js/list.min.js}"></script>
    <script th:src="@{/themes/vendors/feather-icons/feather.min.js}"></script>
    <script th:src="@{/themes/vendors/dayjs/dayjs.min.js}"></script>
    <script th:src="@{/themes/assets/js/phoenix.js}"></script>
  </body>

</html>